<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Ubuntu&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
    <nav class="navbar navbar-default fixed-top" id="nav">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">Weather Finder</p>
        </div>
        <ul class="nav justify-content-end nav-pills">
<li class="nav-item">
  <a class="nav-link active" href="/">Find Weather</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/compare">Compare Weather</a>
</li>
</ul>
    </nav>

    <div>
      <img src="images\weatheralter2.jpg" class="img" alt="Weather Image">
      </div>
      <div class="searchbar">
      <h1>Find The Weather Of Your City</h1>
      <form  action="/" method="post">
      <div class="input-group mb-3" id="searchbar">

          <input type="text" class="form-control" name="city"  placeholder="City Name" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" name="submit" type="submit" id="submitbtn" onclick="submit(this.id)" >Submit</button>

  </div>

</div>
<form  action="/" method="post">
</div>
  </head>
<body>
