
.img{
  height: 554px;
    width: 100%;
        margin-top: 59px;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding-top: 17px;
    font-size: 2.6rem;
}

body{
  background: whitesmoke;
}

#nav{
  background-color: lightgray;
}

#searchbar{
  margin-left: 524px;
    width: 289px;
    margin-top: 30px;
}

#rcorners1 {
  border-radius: 25px;
  background: chocolate;
  padding: 20px;
  width: 243px;
  height: 200px;
  margin-left: 901px;
margin-top: 46px;
color: white;
font-size: x-large;
font-family: monospace;
font-size: 2.5rem;
}

.extras{
  margin-top: -148px;
}

hr{
  width: 425px;
    margin-left: 260px;
}
.extracontent{
  margin-left: 260px;
  font-family: 'Quattrocento Sans', sans-serif;
}

#submitbtn{
  margin-top: 20px;
    margin-left: 625px;
}

.searchbar{
  background-color: darkgray;
    height: 218px;
}

.cityname1{
  height: 42px;
    border-radius: 14px;
    margin-left: 307px;
    margin-top: 20px;
    padding: 13px;
}

.cityname2{
  height: 42px;
    border-radius: 14px;
    margin-left: 191px;
    padding: 13px;
}

th, td {
  text-align: left;
  padding: 8px;
  padding-right: 215px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(even) {background-color: lavender;}
